<%= form_with(model: beer_club, local: true) do |form| %>
  <% if beer_club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beer_club.errors.count, "error") %> prohibited this beer_club from being saved:</h2>

      <ul>
      <% beer_club.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="beer_club[name]">Name</label>
    <input type="text" class="form-control" id="beer_club_name" name="beer_club[name]" placeholder="Beer Club Name">
  </div>

  <div class="form-group">
    <label for="beer_club[founded]">Founding year</label>
    <input type="number" class="form-control" id="beer_club_founded" name="beer_club[founded]" placeholder="Beer Club founding year">
  </div>

   <div class="form-group">
    <label for="beer_club[city]">City</label>
    <input type="text" class="form-control" id="beer_club_city" name="beer_club[city]" placeholder="Beer Club City">
  </div>

  <button type="submit" class="btn btn-primary">Create Beer Club</button>
<% end %>
