

<h1>Users</h1>

<ul class="list-group">
    <% @users.each do |user| %>
        <% if user.closed? and current_user.admin?  %>
            <li class="list-group-item py-1"><%= link_to user.username, user %>  <span class="badge badge-info">Closed</span></li>
        <%else%>
            <li class="list-group-item py-1"><%= link_to user.username, user %></li>
        <% end %>
    <% end %>
</ul>
<br>

<%= link_to 'New User', new_user_path %>