<h1>Styles</h1>
<p> Number of styles: <%= @styles.count %> </p>
  <ul class="list-group">
    <% @styles.each do |style| %>
      <tr>
        <li class="list-group-item py-1"><%= link_to style.name, style_path(style) %></li>
      </tr>
    <% end %>
  </ul>
<%= link_to 'New Style', new_style_path, class:'btn btn-light' %>
