

<dl class="dl-horizontal">
 <dt>Name: <%= @style.name %>
 <dt>Description: <%= @style.description %>
</dl>

<h4>Beers:</h4>
<p>
<ul class="list-group">
  <% @style.beers.each do |b| %>
    <li class="list-item"><%= link_to b.name, beer_path(b) %></li>
    <% end %>
</ul>
</p>

<%= edit_and_destroy_buttons(@style) %>
