<h2>Beers</h2>

<table id="brewerytable" class="table table-hover">
  <tr>
    <th> <a href="#" id="name">Name</a> </th>
    <th> <a href="#" id="year">Founded</a> </th>
    <th> <a href="#" id="beercount">Beer#</a> </th>
    <th> <a href="#" id="status">Status</a> </th>
  </tr>
</table>